/* 引入需要的字体 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* 搜索框样式 */
#searchInput {
    width: 200px;
    padding: 8px;
    margin: 10px;
}

#searchButton, #backButton {
    padding: 8px 16px;
    margin: 10px;
    cursor: pointer;
}

/* 图片按钮样式 */
.dictionary-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin: 10px;
}

#searchResults div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}

.word-box {
    border: 1px solid #000; /* 黑色边框 */
    padding: 10px; /* 内边距 */
    margin-bottom: 10px; /* 每个框之间的外边距 */
    border-radius: 5px; /* 边框圆角 */
}
